<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- Nav-Bar -->
    <header>
      <div class="nav-container">
        <input
          id="nav-logo"
          type="image"
          src="../assets/images/A-Del-logo.png"
          alt="A-Del Construction"
          routerLink="/"
        />
        <nav id="nav-links" class="nav-links">
          <ul>
            <li><a id="nav-home" href="#" routerLink="/">Home</a></li>
            <li>
              <a id="nav-training-programs">Training Programs</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <router-outlet></router-outlet>
  </body>
</html>
