$primary: rgb(87, 3, 24);

body {
  background-color: rgba(250, 171, 52);
  height: 100vh;
  width: 100%;
}

h1 {
  padding: 0.5em;
  font-size: xx-large;
  text-align: center;
  color: $primary;
}

h5 {
  color: $primary;
  text-align: center;
}

p {
  color: $primary;
  text-align: center;
  margin-top: 1em;
}

form {
  text-align: center;
}

input {
  margin: 5px;
  border-radius: 4px;
}

#submit {
}

video {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  padding-left: 25px;
}

.right {
  padding-right: 15px;
}

.left,
.right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
