<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- Nav-Bar-->
    <header>
      <div class="container">
        <input
          type="image"
          src="../assets/images/A-Del-logo.png"
          alt="A-Del Construction"
          width="72"
          height="40"
        />
        <!-- <a href="#" class="logo">A-Del Construction</a> -->
        <nav>
          <ul>
            <li><a href="#" routerLink="/">Home</a></li>
            <li><a href="#" routerLink="/industries">Industries</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <h1>{{ title }}</h1>
    <div class="row">
      <div class="column left">
        <h5>Welcome to A-Del Construction Training</h5>
        <p>
          Please watch the orientation video presented by Josh **** before
          beginning your training.
        </p>
      </div>
      <div class="column middle">
        <video
          src="../assets/videos/construction-vid.mp4"
          type="video/mp4"
          controls
        >
          Orientation Video Not Supported by Browser
        </video>
      </div>
      <div class="column right">
        <h5>Register</h5>
        <form>
          <input type="text" id="fname" name="fname" value="First Name" /><br />
          <input type="text" id="lname" name="lname" value="Last Name" /><br />
          <input type="submit" id="submit" value="Begin Training" />
        </form>
      </div>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
