<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <button class="backBtn" routerLink="/training-programs/sections">
        <p><i class="arrow"></i> Back</p>
      </button>
      <h1 class="title">{{ examName }}</h1>
    </div>
    <div
      class="question-container"
      *ngFor="let question of questionsArr; let i = index"
    >
      <!-- <div class="row"> -->
      <div class="top">
        <div class="column left">
          <h5 class="questionNo">{{ question.questionNo }}.</h5>
        </div>
        <div class="column right">
          <p class="question">{{ question.question }}</p>
        </div>
      </div>
      <div class="bottom">
        <div *ngFor="let choice of question.choices; let i = index">
          <input id="{{ 'choice' + i }}" class="choice" type="radio" />
          {{ choice }}
        </div>
      </div>
    </div>
  </body>
</html>
