//$primary: rgb(87, 3, 24);
$primary: #691b25; // Exact hex color from logo
$secondary: rgb(250, 171, 52);

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 90vh;
  background-color: $secondary;
  color: $primary;
  font-family: "Anton", Impact, Haettenschweiler, "Gill Sans MT";
  font-weight: bold;
}

.header {
  display: flex;
  position: relative;
  padding: 0.5em;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.backBtn {
  width: auto;
  height: auto;
  padding-top: 15px;
  position: absolute;
  left: 0px;
  margin-right: 20px;
  background-color: $primary;
  color: $secondary;
  border-radius: 5px;
}

// Back button arrow
.arrow {
  border: solid $secondary;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 10px;
}

input {
  margin-right: 5px;
  margin-bottom: 5px;
}

.question-container {
  width: 80%;
  padding: 0.5em;
  background-color: $primary;
  color: $secondary;
  // border-style: ridge;
  // border-color: $primary;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.choices {
  font-size: 16px;
  letter-spacing: 0.75px;
}

.top {
  position: relative;
  display: flex;
  border-bottom-style: outset;
  border-radius: 1.5px;
  border-color: $secondary;
}

.bottom {
  padding-top: 5px;
}

.right {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#submitBtn {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  font-size: larger;
  padding: 0.75em;
  background-color: $primary;
  color: $secondary;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; // sits on top
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; // 15% from top and centered
  padding: 20px;
  border: 1px outset #888;
  width: 80%;
  text-align: center;
  white-space: pre-wrap;
}

#retryBtn {
  color: $primary;
  background-color: $secondary;
  border-radius: 5px;
}

/* The Close Modal Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 305px) {
  .title {
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
