body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 90vh;
  //padding-left: 20px;
}

.header {
  display: flex;
  position: relative;
  padding: 0.5em;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.backBtn {
  width: auto;
  height: auto;
  padding-top: 10px;
  position: absolute;
  left: 0px;
  margin-right: 20px;
}

.title {
  //position: absolute;
  text-align: center;
}

p {
  font-size: medium;
}

.question-container {
  width: 100%;
  padding: 0.5em;
}

.top {
  position: relative;
  display: flex;
}

.right {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

// Back button arrow
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media screen and (max-width: 320px) {
  .title {
    margin-top: 50px;
  }
}
