<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <button
        class="backBtn header-left"
        routerLink="/training-programs/sections"
      >
        <p><i class="arrow header-right"></i> Back</p>
      </button>
      <h1 class="title">{{ examName }}</h1>
    </div>
    <div
      class="question-container"
      *ngFor="let question of questionsArr; let i = index"
    >
      <!-- <div class="row"> -->
      <div class="top">
        <div class="column left">
          <h5 class="questionNo">{{ question.questionNo }}.</h5>
        </div>
        <div class="column right">
          <h5 class="question">{{ question.question }}</h5>
        </div>
      </div>
      <div class="bottom">
        <div *ngFor="let choice of question.choices; let i = index">
          <input
            id="{{ 'Q' + question.questionNo + 'choice' + i }}"
            class="choice"
            name="{{ question.questionNo }}"
            type="radio"
            value="{{ i }}"
          />
          {{ choice }}
        </div>
      </div>
    </div>
    <button id="submitBtn" class="centeredBtn">Submit</button>

    <!-- Modal -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <p class="results" value="hello world"></p>
        <button id="retryBtn" class="centeredBtn">Retry</button>
      </div>
    </div>
  </body>
</html>
