$primary: rgb(87, 3, 24);
$secondary: rgb(250, 171, 52);

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 90vh;
  background-color: $secondary;
  color: $primary;
  font-family: fantasy, Georgia, "Times New Roman", Times, serif;
  //padding-left: 20px;
}

.header {
  display: flex;
  position: relative;
  padding: 0.5em;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.backBtn {
  width: auto;
  height: auto;
  padding-top: 15px;
  position: absolute;
  left: 0px;
  margin-right: 20px;
  background-color: $primary;
  color: $secondary;
  border-radius: 5px;
}

// Back button arrow
.arrow {
  border: solid $secondary;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.title {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  //margin-left: 100px;
}

h5 {
  font-size: larger;
}

input {
  margin-right: 5px;
  margin-bottom: 5px;
}

.question-container {
  width: 80%;
  padding: 0.5em;
  background-color: $primary;
  color: $secondary;
  // border-style: ridge;
  // border-color: $primary;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.top {
  position: relative;
  display: flex;
  border-bottom-style: outset;
  border-radius: 1.5px;
  border-color: $secondary;
}

.bottom {
  font-size: medium;
  padding-top: 5px;
}

.right {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media screen and (max-width: 305px) {
  .title {
    margin-top: 60px;
  }
}
