$primary: rgb(87, 3, 24);
$secondary: rgb(250, 171, 52);

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $secondary;
  height: 100%;
  width: 100%;
}

h1 {
  padding: 0.5em;
  font-size: xx-large;
  text-align: center;
  color: $primary;
  font-weight: bold;
  font-family: fantasy, Georgia, "Times New Roman", Times, serif;
}

input {
  width: 90%;
  height: 100%;
  //max-height: 100%;
}

h5 {
  color: $secondary;
  font-size: 2.4vw;
  font-family: fantasy, Georgia, "Times New Roman", Times, serif;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  h5 {
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 900px) {
  h5 {
    font-size: 2.7vw;
  }
}
@media screen and (max-width: 800px) {
  h5 {
    font-size: 2.9vw;
  }
}
@media screen and (max-width: 700px) {
  h5 {
    font-size: 3.1vw;
  }
}
@media screen and (max-width: 600px) {
  h5 {
    font-size: 3.3vw;
  }
}
@media screen and (max-width: 500px) {
  h5 {
    font-size: 3.6vw;
  }
}
@media screen and (max-width: 450px) {
  h5 {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 420px) {
  h5 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 380px) {
  h5 {
    font-size: 4.2vw;
  }
}
@media screen and (max-width: 350px) {
  h5 {
    font-size: 4.5vw;
  }
}

.label-container {
  background-color: $primary;
  height: 2.5em;
  width: 90%;
  position: relative;
  text-align: center;
  margin-left: 5%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}

.img-container {
  position: relative;
  text-align: center;
  //color: white;
  height: 30%;
  margin-bottom: 5px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //font-weight: bold;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
  //padding: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
