$primary: rgb(87, 3, 24);
$secondary: rgb(250, 171, 52);

body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $secondary;
  height: 90vh;
  font-family: "Anton", Impact, Haettenschweiler, "Gill Sans MT";
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; // sits on top
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  color: $primary;
  font-size: 20px;
  margin: 15% auto; // 15% from top and centered
  padding: 20px;
  border: 1px outset #888;
  width: 80%;
  text-align: center;
  white-space: pre-wrap;
}

/* The Close Modal Button */
.close {
  color: rgb(134, 134, 134);
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $primary;
  text-decoration: none;
  cursor: pointer;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
  //padding: 5px;
  margin-bottom: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.label-container {
  background-color: $primary;
  height: 2.5em;
  width: 90%;
  position: relative;
  text-align: center;
  margin-left: 5%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //font-weight: bold;
}

// page heading
h1 {
  padding: 0.5em;
  font-size: xx-large;
  text-align: center;
  color: $primary;
  font-weight: bold;
}

.img-container {
  position: relative;
  text-align: center;
  height: 30%;
  //max-height: 30%;
  margin-bottom: 5px;
}

// images
input {
  width: 90%;
  height: 100%;
  //max-height: 100%;
}

// image headings
h5 {
  color: $secondary;
  font-size: 2.4vw;
  white-space: nowrap;
}

// Dynamic Resizing for Smaller / Bigger Screens
@media screen and (min-width: 1024px) {
  h5 {
    font-size: 2.2vw;
  }
}
@media screen and (min-width: 1200px) {
  h5 {
    font-size: 2vw;
  }
}
@media screen and (max-width: 900px) {
  h5 {
    font-size: 2.7vw;
  }
}
@media screen and (max-width: 800px) {
  h5 {
    font-size: 2.9vw;
  }
}
@media screen and (max-width: 700px) {
  h5 {
    font-size: 3.1vw;
  }
  .column {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 600px) {
  h5 {
    font-size: 3.3vw;
  }
  .column {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 500px) {
  h5 {
    font-size: 3.6vw;
  }
  .column {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 450px) {
  h5 {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 420px) {
  h5 {
    font-size: 4vw;
  }
  #sw-text {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 380px) {
  h5 {
    font-size: 4.2vw;
  }
}
@media screen and (max-width: 350px) {
  h5 {
    font-size: 4.5vw;
  }
  .column {
    margin-bottom: 85px;
  }
}
