<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A-Del Safety Training Programs</title>
  </head>
  <body>
    <h1>Safety Training Programs</h1>
    <!-- Modal -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Before Continuing</h2>
        <p class="modal-info">
          {{ modalInfo }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="column column-left">
        <div id="ne-label" class="label-container">
          <h5 class="centered">New Employees</h5>
        </div>
        <div class="img-container">
          <input
            id="new-employees"
            type="image"
            src="../assets/images/handshake.jpg"
          />
        </div>
        <div id="fw-label" class="label-container">
          <h5 class="centered">Field Workers</h5>
        </div>
        <div class="img-container">
          <input
            id="field-workers"
            type="image"
            src="../assets/images/field-workers.jpg"
          />
        </div>
        <div id="sw-label" class="label-container">
          <h5 class="centered" id="sw-text">Shop Workers & Mechanics</h5>
        </div>

        <div class="img-container">
          <input
            id="shop-workers"
            type="image"
            src="../assets/images/Sonny2.jpg"
          />
        </div>
      </div>

      <div class="column column-right">
        <div id="oe-label" class="label-container">
          <h5 class="centered">Office Employees</h5>
        </div>

        <div class="img-container">
          <input
            id="office-employees"
            type="image"
            src="../assets/images/office-employees.jpg"
          />
        </div>
        <div id="fm-label" class="label-container">
          <h5 class="centered">Foreman</h5>
        </div>

        <div class="img-container">
          <input
            id="foreman"
            type="image"
            src="../assets/images/A-Del-Foreman.jpg"
          />
        </div>
        <div id="td-label" class="label-container">
          <h5 class="centered">Truck Drivers</h5>
        </div>

        <div class="img-container">
          <input
            id="truck-drivers"
            type="image"
            src="../assets/images/A-Del-Truck-Drivers.jpg"
          />
        </div>
      </div>
    </div>
  </body>
</html>
