<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Safety Training Programs</h1>
    <div class="row">
      <div class="column">
        <div class="img-container">
          <input
            id="newEmployees"
            type="image"
            src="../assets/images/handshake.jpg"
          />
          <h3 class="centered">New Employees</h3>
        </div>
        <div class="img-container">
          <input
            id="field-worker"
            type="image"
            src="../assets/images/field-workers.jpg"
          />
          <h3 class="centered">Field Workers</h3>
        </div>
        <div class="img-container">
          <input
            id="shop-worker"
            type="image"
            src="../assets/images/shop-worker.jpg"
          />
          <h3 class="centered">Shop Workers & Mechanics</h3>
        </div>
      </div>
      <div class="column">
        <div class="img-container">
          <input
            id="office-employees"
            type="image"
            src="../assets/images/office-workers.jpg"
          />
          <h3 class="centered">Office Employees</h3>
        </div>
        <div class="img-container">
          <input id="foreman" type="image" src="../assets/images/foreman.jpg" />
          <h3 class="centered">Foreman</h3>
        </div>
        <div class="img-container">
          <input
            id="truck-drivers"
            type="image"
            src="../assets/images/truck.jpg"
          />
          <h3 class="centered">Truck Drivers</h3>
        </div>
      </div>
    </div>
  </body>
</html>
