/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

// SCSS Variable
$primary: rgb(87, 3, 24);

html {
  //overflow-y: auto;
  //overflow-x: hidden;
}

body {
  overflow-y: hidden;
  margin: 0;
}

#nav-logo {
  margin-top: -16px;
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
  height: 57px;
}

.nav-container {
  min-height: 25px;
  height: 25px;
  max-height: 25px;
  width: 100%;
  margin: 0px;
}

#nav-training-programs {
  color: white;
}
#nav-training-programs:hover {
  text-decoration-line: underline;
}

input {
  margin-top: 0px;
}

header {
  background: $primary;
  padding: 1em 0;

  a {
    color: white;
    text-decoration: none;
    font-family: fantasy, Georgia, "Times New Roman", Times, serif;
    text-size-adjust: auto;
    font-size: medium;
  }

  // Spaces out nav-links from right wall if screen is big enough
  @media screen and (min-width: 600px) {
    .nav-container {
      width: 90%;
    }
  }

  // Adjusts nav-links font size for small screen widths
  @media screen and (max-width: 360px) {
    a {
      font-size: smaller;
    }
  }

  @media screen and (max-width: 320px) {
    a {
      font-size: x-small;
    }
  }

  @media screen and (max-width: 275px) {
    a {
      font-size: xx-small;
    }
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;
      width: 100%;
      padding: 0px;

      li a {
        padding: 1em;

        &:hover {
          background: darken($primary, 10%);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
