/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

// SCSS Variable
//$primary: rgb(87, 3, 24);
$primary: #691b25; // Exact hex color from logo

body {
  overflow-y: hidden;
  margin: 0;
}

#nav-logo {
  margin-top: -16px;
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
  height: 57px;
  border-radius: 0px;
}

.nav-container {
  min-height: 25px;
  height: 25px;
  max-height: 25px;
  width: 100%;
  margin: 0px;
}

#nav-training-programs {
  color: white;
}

#nav-training-programs:hover {
  text-decoration-line: underline;
}

input {
  margin-top: 0px;
}

header {
  background: $primary;
  padding: 1em 0;

  a {
    color: white;
    text-decoration: none;
    font-family: "Anton", "Impact";
    font-weight: bold;
    font-size: medium;
    letter-spacing: 0.5px;
  }

  // Spaces out nav-links from right wall if screen is big enough
  @media screen and (min-width: 600px) {
    .nav-container {
      width: 90%;
    }
  }

  // // Adjusts nav-links font size for small screen widths

  @media screen and (max-width: 345px) {
    a {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 330px) {
    a {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 317px) {
    a {
      font-size: 13px;
    }
  }

  @media screen and (max-width: 302px) {
    a {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 288px) {
    a {
      font-size: 11px;
    }
  }
  @media screen and (max-width: 276px) {
    a {
      font-size: 10px;
    }
  }

  @media screen and (max-width: 263px) {
    a {
      font-size: 9px;
    }
  }

  @media screen and (max-width: 250px) {
    a {
      font-size: 8px;
    }
  }

  @media screen and (max-width: 237px) {
    a {
      font-size: 7px;
    }
  }

  @media screen and (max-width: 222px) {
    a {
      font-size: 0px;
    }
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;
      width: 100%;
      padding: 0px;

      li a {
        padding: 1em;

        &:hover {
          background: darken($primary, 10%);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
