/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

// SCSS Variable
$primary: rgb(87, 3, 24);

html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Nunito", "sans-serif";
  font-size: 18px;
}

#nav-logo {
  margin-top: -16px;
  margin-left: -30px;
  width: auto;
  height: 57px;
}

.nav-container {
  min-height: 25px;
  height: 4.5vh;
  width: 80%;
  margin: 0 auto;
}

// Router Outlet container
// .container {
//   background-color: gray;
//   margin: 0 auto;
//   min-width: 100%;
//   height: 100vh;
// }

input {
  margin-top: 0px;
}

header {
  background: $primary;
  padding: 1em 0;

  a {
    color: white;
    text-decoration: none;
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1em;

        &:hover {
          background: darken($primary, 10%);
          color: white;
        }
      }
    }
  }
}
