$primary: rgb(87, 3, 24);
$secondary: rgb(250, 171, 52);

body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 90vh;
  background-color: $secondary;
  font-family: "Anton", Impact, Haettenschweiler, "Gill Sans MT";
  font-weight: bold;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.section-container {
  color: $secondary;
  background-color: $primary;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 600px;
  //column-count: 2;
}

.left {
  position: relative;
  width: 20%;
  border-right-style: outset;
  border-width: 1.5px;
  border-color: $secondary;
}

.right {
  width: 80%;
}

h1 {
  font-size: xx-large;
  padding: 0.5em;
  font-weight: bold;
  color: $primary;
  text-align: center;
}

h5 {
  font-size: medium;
  padding-top: 5px;
  border-bottom-style: outset;
  border-width: 1.5px;
  border-color: $secondary;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: $secondary;
  color: $primary;
  border-radius: 5px;
  margin: 8px;
  padding: 7px;
  width: 35%;
  min-width: 75px;
}

.exam-btn {
  padding-right: 14.6px;
  padding-left: 14.6px;
}

#submit-btn {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  font-size: larger;
  padding: 0.75em;
  background-color: $primary;
  color: $secondary;
  opacity: 0.5;
  pointer-events: none;
}

.info-container {
  background-color: $primary;
  margin-bottom: 20px;
}

// contains toggle switch
.translation-box {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  margin-right: 0px;
  border-right-style: outset;
  border-width: 1.5px;
  border-color: $secondary;
}

#translation-info {
  font-size: medium;
  color: $secondary;
  position: relative;
  left: 0px;
  text-align: center;
  margin-bottom: 0px;
  width: 100%;
}

.login-info-box {
  width: 50%;
  position: relative;
}

#login-info-btn {
  width: 65%;
  max-width: 225px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; // sits on top
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  color: $primary;
  font-size: 20px;
  margin: 15% auto; // 15% from top and centered
  padding: 20px;
  border: 1px outset #888;
  width: 80%;
  text-align: center;
  white-space: pre-wrap;
}

/* The Close Modal Button */
.close {
  color: rgb(134, 134, 134);
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $primary;
  text-decoration: none;
  cursor: pointer;
}

// Toggle Switch Below
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  left: 0px;
  width: 45px;
  height: 25.5px;
  margin-left: auto;
  margin-right: auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: $primary;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $secondary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $secondary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25.5px;
}

.slider.round:before {
  border-radius: 50%;
}
