<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A-Del Safety Submission</title>
  </head>
  <body>
    <div class="title">
      <h1>Almost There!</h1>
      <h5>Fill out the form below in order to submit</h5>
    </div>

    <form class="email-form">
      <input
        name="fname"
        type="text"
        class="form-control"
        placeholder="First Name"
        required
      /><br />
      <input
        name="lname"
        type="text"
        class="form-control"
        placeholder="Last Name"
        required
      /><br />
      <input
        name="email"
        type="text"
        class="form-control"
        placeholder="Email"
        required
      /><br />
      <input
        name="employee-id"
        type="text"
        class="form-control"
        placeholder="Employee ID"
        required
      /><br />
      <textarea
        name="message"
        class="form-control"
        placeholder="Please provide some feedback about any good or bad experiences during your online training"
        rows="4"
      ></textarea>
      <input type="submit" class="form-control submit" value="Submit" />
    </form>
  </body>
</html>
