<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A-Del Safety Submission</title>
    *** EmailJS ***
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("user_NZvL7kVGCJeEl7XwEVdFH");
      })();
    </script>
  </head>
  <body>
    <div class="title">
      <h1>Submission</h1>
      <h6>
        Please fill out the form below to complete your A-Del Safety training
      </h6>
    </div>

    <form class="email-form">
      <input
        id="fname"
        name="fname"
        type="text"
        class="form-control"
        placeholder="First Name"
        required
      /><br />
      <input
        id="lname"
        name="lname"
        type="text"
        class="form-control"
        placeholder="Last Name"
        required
      /><br />
      <input
        id="email"
        name="email"
        type="text"
        class="form-control"
        placeholder="Email"
        required
      /><br />
      <textarea
        id="message"
        name="message"
        class="form-control"
        placeholder="Please provide some feedback about any good or bad experiences during your online training"
        rows="4"
      ></textarea>
      <input type="submit" class="form-control submit" value="Submit" />
    </form>
  </body>
</html>
