//$primary: rgb(87, 3, 24);
$primary: #691b25; // Exact hex color from logo
$secondary: rgb(250, 171, 52);

body {
  color: $secondary;
  background-image: url("/assets/images/confetti.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: $primary;
  height: 90vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  position: relative;
  font-family: "Anton", "Impact", Haettenschweiler, "Gill Sans MT";
  font-weight: bold;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  font-size: 60px;
}

.sub-header {
  font-size: 22px;
}

// Adjusts nav-links font size for small screen widths

@media screen and (max-width: 425px) {
  .title {
    font-size: 50px;
  }
  .sub-header {
    font-size: 20px;
  }
}

@media screen and (max-width: 345px) {
  .title {
    font-size: 40px;
  }
  .sub-header {
    font-size: 16px;
  }
}

@media screen and (max-width: 280px) {
  .title {
    font-size: 35px;
  }
  .sub-header {
    font-size: 14px;
  }
}

@media screen and (max-width: 245px) {
  .title {
    font-size: 30px;
  }
  .sub-header {
    font-size: 12px;
  }
}

@media screen and (max-width: 210px) {
  .title {
    font-size: 25px;
  }
  .sub-header {
    font-size: 10px;
  }
}

@media screen and (max-width: 170px) {
  .title {
    font-size: 20px;
  }
  .sub-header {
    font-size: 8px;
  }
}
