<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div class="row">
      <div class="column left">
        <h5>Welcome to A-Del Construction Training!</h5>
        <p>
          Please watch the orientation video presented by Josh Bacon before
          beginning.
        </p>
      </div>
      <div class="column middle">
        <video
          src="../assets/videos/construction-vid.mp4"
          type="video/mp4"
          controls="true"
          autoplay="true"
        >
          Orientation Video Not Supported by Browser
        </video>
      </div>
      <div class="column right">
        <ng-template [ngIf]="!hasName">
          <h5>Register</h5>
          <form>
            <input
              type="text"
              id="fname"
              name="fname"
              value="First Name"
            /><br />
            <input
              type="text"
              id="lname"
              name="lname"
              value="Last Name"
            /><br />
          </form>
          <button
            id="beginTrainingBtn"
            class="trainingBtn"
            (click)="beginTrainingClick()"
          >
            Begin Training
          </button>
        </ng-template>
        <ng-template [ngIf]="hasName">
          <button
            id="continueTrainingBtn"
            class="trainingBtn"
            (click)="continueTraining()"
          >
            Continue Training
          </button>
        </ng-template>
      </div>
    </div>
  </body>
</html>
