<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A-Del Safety Training Home</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div class="row">
      <div class="column left">
        <h5>Welcome to A-Del Construction Training!</h5>
        <p>
          Please use the same device throughout the entire training experience
        </p>
      </div>
      <div class="column middle">
        <video
          id="vid"
          controls="true"
          onloadedmetadata="this.muted=true"
          autoplay
          loop
        >
          <source
            src="../assets/videos/construction-vid.mp4"
            type="video/mp4"
          />
          Orientation Video Not Supported by Browser
        </video>
      </div>
      <div class="column right">
        <ng-template [ngIf]="!hasName">
          <h5 class="rightHeader">Register</h5>
          <form class="login-form" action="#">
            <input
              type="text"
              class="form-control"
              id="fname"
              name="fname"
              placeholder="First Name"
              required
            />
            <input
              type="text"
              class="form-control"
              id="lname"
              name="lname"
              placeholder="Last Name"
              required
            />
            <button class="form-control login-btn">Begin Training</button>
          </form>
        </ng-template>
        <ng-template [ngIf]="hasName">
          <h5 class="rightHeader">Welcome Back {{ fName }}</h5>
          <button id="continueBtn" class="form-control login-btn">
            Continue Training
          </button>
        </ng-template>
      </div>
    </div>
  </body>
</html>
