$primary: rgb(87, 3, 24);
$secondary: rgb(250, 171, 52);

body {
  background-color: $secondary;
  height: 100vh;
  width: 100%;
}

h1 {
  padding: 0.5em;
  font-size: xx-large;
  text-align: center;
  color: $primary;
}

h5 {
  color: $primary;
}

p {
  color: $primary;
  margin-top: 1em;
}

input {
  width: 80%;
  max-width: 200px;
  min-width: 50px;
  margin: 5px;
  border-radius: 4px;
}

#beginTrainingBtn {
  background-color: $primary;
  color: $secondary;
  margin: 5px;
  border-radius: 4px;
}

video {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
  max-width: 100%;
}

.column {
  float: left;
  padding: 10px;
  text-align: center;
}

.left {
  padding-left: 25px;
}

.right {
  padding-right: 15px;
}

.left,
.right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
